@page
@model Artsofte.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Employee list</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort" />
                @Html.DisplayNameFor(model => model.Employees[0].Name)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.SurnameSort"/>
                @Html.DisplayNameFor(model => model.Employees[0].Surname)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.AgeSort" />
                @Html.DisplayNameFor(model => model.Employees[0].Age)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.GenderSort" />
                @Html.DisplayNameFor(model => model.Employees[0].Gender)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DepartmentSort" />
                @Html.DisplayNameFor(model => model.Employees[0].Department)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ProgrammingLanguageSort" />
                @Html.DisplayNameFor(model => model.Employees[0].ProgrammingLanguage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgrammingLanguage.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
